<div class="card">
  <img
    src="<%= `https://picsum.photos/${200 + item.id}` %>"
    class="card-img-top"
    alt=""
  />
  <div class="card-body">
    <h5 class="card-title"><%= item.title %></h5>
    <p class="card-text"><%= item.price %></p>
  </div>
</div>
